@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <h4>Book</h4>
    <hr />
<div class="row">
    <dl class="col-md-6 book-details"> <!--create separate styling for books maybe -->
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt> 
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Edition)
        </dt> 
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.DeweyIndex)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.DeweyIndex)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.NoOfPages_LengthTime)
        </dt>
        <dd class = "col-sm-10book-details-info">
            @Html.DisplayFor(model => model.NoOfPages_LengthTime)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.AvailabilityStatus)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.AvailabilityStatus)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.CopiesAvailable)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.CopiesAvailable)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-4 book-details-desc">
            @Html.DisplayNameFor(model => model.NumberOfCopies)
        </dt>
        <dd class = "col-sm-10 book-details-info">
            @Html.DisplayFor(model => model.NumberOfCopies)
        </dd>
    </dl>

    <div class="col-md-6 branch-details-img">
        <div class="form-group">

            @if (Model.BookImage != null)
            {
                <img id="bookImage" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.BookImage))">
            }
            else
            {
                <img id="bookImage" style="width:350px;height:350px; object-fit:cover" src="">
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>

