@model LibraryManagementSystem.Models.CheckoutHistory

@{
    ViewData["Title"] = "Details";
}
<div class="page-width">
<h2 class="header-color-details">Details for checkout history</h2>
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Checkout Histories can only be viewed.</strong> 
  <p>Any remaining Checkout History cannot be edited since it is an archived checkout from a user for a book that has since been returned or 
      is classified in another specific status.
  </p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div>
    <h4>CheckoutHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
</div>