@model LibraryManagementSystem.Models.ReservationFullModel

@{
    ViewData["Title"] = "Delete";
}
<div class="page-width padding-extra">
<h2 class="header-color-delete">Delete a reservation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            Patron
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patron.FirstName) @Html.DisplayFor(model => model.Patron.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldPlaced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldPlaced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <hr />
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    </form>
</div>
</div>