@model IEnumerable<LibraryManagementSystem.Models.BranchHours>

@{
    ViewData["Title"] = "Index";
}
<div class="page-width">
<h2 class="header-color-index">Index for Branch Hours</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-success create-new-btn">Create New</a>
</p>
<table class="ui celled table compact table-striped table-hover" id="branchHoursIndexTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.Name)
            </td>
            @{
            switch (item.DayOfWeek)
            {
                case 0:          <td>
                                    Monday
                                </td>
                    break;
                case 1:          <td>
                                    Tuesday
                                </td>
                    break;
                case 2:          <td>
                                    Wednesday
                                </td>
                    break;
                case 3:          <td>
                                    Thursday
                                </td>
                    break;
                case 4:          <td>
                                    Friday
                                </td>
                    break;
                case 5:          <td>
                                    Saturday
                                </td>
                    break;
                case 6:          <td>
                                    Sunday
                                </td>
                    break;
            }
        }
@*            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
            <div class="btn-group btn-group-sm" role="group">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Styles {
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#branchHoursIndexTable').DataTable(                
                {"columnDefs": [
                { "orderable": false, "targets": [2, 3, 4] },
                { "orderable": true, "targets": [0, 1] }
            ]});
        });

    </script>
}