@model IEnumerable<LibraryManagementSystem.Models.Patron>

@{
    ViewData["Title"] = "Index";
}
<div class="page-width">
<h2 class="header-color-index">Index for Patrons</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-success" disabled>Create New</a>
</p>
<table class="ui celled table compact table-striped table-hover" id="patronIndexTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverdueFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverdueFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountStatus)
            </td>
            <td>
            <div class="btn-group btn-group-sm" role="group">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@section Styles {
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#patronIndexTable').DataTable(                
                {"columnDefs": [
                { "orderable": false, "targets": [7, 8] },
                { "orderable": true, "targets": [0, 1, 2, 3, 4, 5, 6] }
            ],
            "createdRow": function( row, data, dataIndex){
                if( data[7] ==  `Pending`){
                    $(row).addClass('pending');
                }
                else if( data[7] == 'Approved'){
                    $(row).removeClass('pending');
                    $(row).addClass('approved');
                }
                else if( data[7] == 'Deactivated'){
                    $(row).removeClass('pending');
                    $(row).removeClass('approved');
                    $(row).addClass('deactivated');
                }
            }
        });
        });

    </script>
}